#ignore

#folders
build-Desktop-Debug/
build-Desktop-Release/
build-Desktop-Profile/
DebugWin/
ReleaseWin/
.externalToolBuilders/
.settings/

#files
.project
.cproject
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
includeheaders
includereleaseso
includedebugso

#file types
*.o
*.d
*.exe
*.pro.user
*.so
*.dll
*.a
